<%= cl_image_tag (@medication2.photo), width:250 %><br>
<br>
<p>name: <%= @medication2.english_name %></p>
<p>category: <%= @medication2.local_category %></p>
  <% @medication2.ingredients.each do |ingredient| %>
    <p>active ingredient: <%= ingredient.name %></p>
  <% end %>

<%= link_to "Search for nearest pharmacy", map_path %>

