<%= render "shared/progressbar" %>

<div class="container fullheight with-progressbar">

  <div class="mf-medium-card">
    <%= cl_image_tag (@medication.photo) %>
    <div class=medium-card-description>
      <p>name: <%= @medication.english_name %></p>
      <p>category: <%= @medication.local_category %></p>
      <% @medication.ingredients.each do |ingredient| %>
        <p>active ingredient: <%= ingredient.name %></p>
      <% end %>
    </div>
  </div>
  <!-- end of mf-medium-card -->

    <div id="medication2">
      <% @medications.each do |medication| %>
        <div class="modal fade" id="medication_<%= medication.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <div class="profile-banner d-flex align-items-center" id="user-profile">
                  <div class="mf-big-card">
                    <%= cl_image_tag(medication.photo, width: 250) %>
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">English</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="pills-local-tab" data-toggle="pill" href="#pills-local" role="tab" aria-controls="pills-local" aria-selected="false">Local</a>
                      </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <p>name: <%= medication.english_name %></p>
                        <p>category: <%= medication.local_category %></p>
                        <% medication.ingredients.each do |ingredient| %>
                        <p>active ingredient: <%= ingredient.name %></p>
                        <% end %>
                        <p>description: <%= medication.local_description %></p>
                      </div>
                      <div class="tab-pane fade" id="pills-local" role="tabpanel" aria-labelledby="pills-local-tab">
                        <p> local name: <%= medication.local_name %></p>
                        <p> category: <%= medication.foreign_category %></p>
                        <p> description: <%= medication.foreign_description %></p>
                      </div>
                    </div>
                    <%= link_to 'Yes, this is an equivalent of my medicine', medication_comparison_path(medication), remote: true %>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <!-- end of modal - to be loaded in a loop before starting the carousel loop, once the carousel starts, it triggers the modal. this way we avoid blank pages in carousel -->
      <p class="header-comparison"> Equivalent in <%= ISO3166::Country[@medications.first.country]%>
      </p>
      <div class="cards-carousel" id="carousel">

      <% @medications.each do |medication| %>

        <div class="carousel-medium-card">
          <%= cl_image_tag(medication.photo, class: "carousel-img")%>
          <div class='carousel-medium-card-description'>
            <%= link_to medication_comparison_path(medication.id), data: {toggle:"modal", target:"#medication_#{medication.id}" } do %>
              <p>name: <%= medication.english_name %></p>
            <% end %>

            <% medication.ingredients.each do |ingredient| %>
              <p>active ingredient: <%= ingredient.name %></p>
            <% end %>
          </div>
          <!-- end of medium-card-description -->
        </div>
        <!-- end of medium-card-country-info -->
      <% end %>
    </div>
    <!-- end of carousel, the toggle:modal triggers the modal loop at line 24 -->
  </div>
    <!-- end of #medication2 -->
</div>
<!-- end of container -->


<div class="fullheight"
  id="map"
  style="width: 100%;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>



<%= javascript_pack_tag 'select2' %>
<%= stylesheet_pack_tag 'select2' %>
<%= javascript_pack_tag 'card_carousel' %>
<%= stylesheet_pack_tag 'card_carousel' %>


