<%= render "shared/progressbar" %>


<div class="container fullheight with-progressbar">

  <div class="mf-medium-card">
    <%= cl_image_tag (@medication.photo) %>
    <div class=medium-card-description>
      <h5><%= @medication.english_name %></h5>
      <h6>category:</h6>
        <p><%= @medication.local_category %></p>
      <% @medication.ingredients.each do |ingredient| %>
        <h6>active ingredient:</h6>
          <p><%= ingredient.name %></p>
      <% end %>
    </div>
  </div>
  <!-- end of mf-medium-card -->

    <div id="medication2">
      <% @medications.each do |medication| %>
        <div class="modal fade" id="medication_<%= medication.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <div class="profile-banner d-flex align-items-center" id="user-profile">
                  <div class="mf-big-card">
                    <%= cl_image_tag(medication.photo, width: 250) %>
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home-<%= medication.id %>" role="tab" aria-controls="pills-home" aria-selected="true">English</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="pills-local-tab" data-toggle="pill" href="#pills-local-<%= medication.id %>" role="tab" aria-controls="pills-local" aria-selected="false">Local</a>
                      </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                      <div class="tab-pane fade show active" id="pills-home-<%= medication.id %>" role="tabpanel" aria-labelledby="pills-home-tab">
                        <h5><%= medication.english_name %></h5>
                        <h6>category:</h6>
                          <p><%= medication.local_category %></p>
                        <% medication.ingredients.each do |ingredient| %>
                        <h6>active ingredient:</h6>
                          <p><%= ingredient.name %></p>
                        <% end %>
                        <h6>description:</h6>
                          <p><%= medication.local_description %></p>
                      </div>
                      <div class="tab-pane fade" id="pills-local-<%= medication.id %>" role="tabpanel" aria-labelledby="pills-local-tab">
                         <h5><%= medication.local_name %></h5>
                         <h6>category:</h6>
                          <p><%= medication.foreign_category %></p>
                         <h6>description:</h6>
                          <p><%= medication.foreign_description %></p>
                      </div>
                    </div>
                    <%= link_to 'Yes, this is an equivalent of my medicine', medication_comparison_path(medication), remote: true %>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <!-- end of modal - to be loaded in a loop before starting the carousel loop, once the carousel starts, it triggers the modal. this way we avoid blank pages in carousel -->

      <p class="header-comparison"> Equivalent in <%= ISO3166::Country[@medications.first.country]%>
      </p>

      <div class="cards-carousel" id="carousel">

      <% @medications.each do |medication| %>
        <%= @medication_id = medication.id %>
        <div class="carousel-medium-card">
          <%= cl_image_tag(medication.photo, class: "carousel-img")%>
          <div class='carousel-medium-card-description'>
            <%= link_to medication_comparison_path(medication.id), data: {toggle:"modal", target:"#medication_#{medication.id}" } do %>
              <h2><%= medication.local_name %></h2>
            <% end %>

            <% medication.ingredients.each do |ingredient| %>
              <p>active ingredient: <%= ingredient.name %></p>
            <% end %>
          </div>
          <!-- end of medium-card-description -->
          <div class="card-icons" id='<%= medication.id  %>'>
            <%= link_to medication_comparison_path(medication), remote: true  do %>
             <i class="far fa-check-circle"></i>
            <% end %>

            <%= link_to favorite_path(medication.id), class: "no-border-focus", method: :post, remote: true   do %>
              <% if current_user && current_user.favorites.find_by(medication_id: medication.id).nil? %>
                <i id='med<%= medication.id %>' class="far fa-heart"></i>
              <% elsif current_user %>
                <i id='med<%= medication.id %>' class="fas fa-heart"></i>
              <% end %>
            <% end %>
              <%= link_to  medication_comparison_path(medication.id),class: "no-border-focus", data: {toggle:"modal", target:"#medication_#{medication.id}" } do %>
              <i class="far fa-question-circle"></i>

            <% end %>
          </div>
        </div>
        <!-- end of medium-card-country-info -->
      <% end %>
    </div>
    <!-- end of carousel, the toggle:modal triggers the modal loop at line 24 -->
  </div>
    <!-- end of #medication2 -->

  <div class="arrow-class" id="arrow">
   <!-- <i class="fas fa-chevron-down"></i> -->
   <i class="fas fa-chevron-down"></i>
  </div>

  <div class="fullheight"
    id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>


   <div class="arrow-class" id="bottom-arrow">
   <i class="fas fa-chevron-up"></i>
  </div>
</div>
<!-- end of container -->

<%= javascript_pack_tag 'select2' %>
<%= stylesheet_pack_tag 'select2' %>
<%= javascript_pack_tag 'card_carousel' %>
<%= stylesheet_pack_tag 'card_carousel' %>


