<%= render "shared/progressbar" %>
<%= form_tag medication_comparisons_path(@medication), method: :get do %>
  <%= country_select(nil, "country", { include_blank: 'Select a country' }, {class: "country-selection"}) %>
  <%= submit_tag "submit" %>
<% end %>

<h2><%= @medication.english_name %></h2>
<%= cl_image_tag (@medication.photo) %><br>
<br>
<br>


<% @medications.each do |medication| %>
  <h3><%= medication.local_name %></h3>
  <%= cl_image_tag (medication.photo) %>
<% end %>


<%= javascript_pack_tag 'select2' %>
<%= stylesheet_pack_tag 'select2' %>
