<div class="map-marker">
  <h2><strong><%= name %></strong></h2>
  <p><strong>address:</strong> <%= address %></p>
  <p><strong>open?</strong> <%= opening_hour %></p>
  <p><strong>rating:</strong> <%= rating %></p>
  <p><strong>number of ratings:</strong> <%= user_rating %>
</div>
