<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div id="movies">
        <% @medications.each do |medication| %>
          <%= link_to medication_comparison_path(medication.id) do %>
          <%= cl_image_tag(medication.photo, width:300) %>
          <h2><%= medication.english_name %></h2>
          <% end %>
          <% medication.ingredients.each do |ingredient| %>
          <p>Active ingredient: <%= ingredient.name %></p>
          <% end %>
        <% end %>
      </div>
  <%= link_to "search page",search_medications_path %>
    </div>
  </div>
</div>

