<%= render "shared/progressbar" %>
<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2 mt-5">

      <% @medications.each do |medication| %>
        <div class="modal fade" id="medication_<%= medication.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content mf-modal-content">
              <div class="modal-body d-flex flex-direction-column justify-content-center">
                <div class="profile-banner d-flex align-items-center" id="user-profile">
                  <div class="mf-big-card">
                    <%= cl_image_tag(medication.photo, width: 250) %>
                      <h5><%= medication.local_name %></h5>
                    <div class="mf-modal-description">
                      <h6>category:</h6> <p><%= medication.local_category %></p>
                      <% medication.ingredients.each do |ingredient| %>
                        <h6>active ingredient:</h6> <p><%= ingredient.name %></p>
                      <% end %>
                      <h6>description:</h6> <p><%= medication.local_description %></p>


                      <div class="modal-footer">
                         <i class="far fa-times-circle" data-dismiss="modal"></i>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of modal -->
      <% end %>
      <!-- end of loop for modals -->

      <% @medications.each do |medication| %>
        <div class="mf-regular-card" id="medical-card">
          <p class="medication-category"><%= medication.local_category %></p>
            <%= cl_image_tag(medication.photo, width:300) %>
            <div class="regular-card-footer">
              <h2><%= medication.english_name %></h2>
              <% medication.ingredients.each do |ingredient| %>
                <p class="ingredient-name"><%= ingredient.name %></p>
              <% end %>
            </div>
            <!-- end of regular card footer -->
            <div class="card-icons">
              <%= link_to medication_comparisons_path(medication) do %>
               <i class="far fa-check-circle"></i>
              <% end %>
              <%= link_to  medication_comparison_path(medication.id), data: {toggle:"modal", target:"#medication_#{medication.id}" } do %>
                <i class="far fa-question-circle"></i>
              <% end %>
            </div>
            <!-- end of card-icons -->
        </div>
      <% end %>
    <!-- end of medication-card -->
      <%= link_to "Back", search_medications_path, method: "post", class:"mf-button"%>
    </div>
  </div>
</div>



