<%= render "shared/progressbar" %>
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div id="movies">
        <% @medications.each do |medication| %>
          <%= link_to medication_comparison_path(medication.id), data: {toggle:"modal", target:"#medication_#{medication.id}" } do %>
            <%= cl_image_tag(medication.photo, width:300) %>
            <h2><%= medication.english_name %></h2>
          <% end %>
          <% medication.ingredients.each do |ingredient| %>
            <p>Active ingredient: <%= ingredient.name %></p>
          <% end %>


          <div class="modal fade" id="medication_<%= medication.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="profile-banner d-flex align-items-center" id="user-profile">
                    <div class="mf-big-card">
                      <%= cl_image_tag(medication.photo, width: 250) %>
                      <div>
                        <p>Name: <%= medication.local_name %></p>
                        <p>Category: <%= medication.local_category %></p>
                        <% medication.ingredients.each do |ingredient| %>
                          <p>Active ingredient: <%= ingredient.name %></p>
                        <% end %>
                        <p>Description: <%= medication.local_description %></p>

                        <%= link_to 'Yes, I am searching for an equivalent of this medicine', medication_comparisons_path(medication.id) %>

                        <div class="modal-footer">
                           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>

  <%= link_to "search page", search_medications_path %>

    </div>
  </div>
</div>



