<%= render "shared/progressbar" %>
<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2 mt-5">
      <div id="medication-card">
        <% @medications.each do |medication| %>
          <%= link_to medication_comparison_path(medication.id), class: "mf-regular-card", data: {toggle:"modal", target:"#medication_#{medication.id}" } do %>
            <%= cl_image_tag(medication.photo, width:300) %>
            <h2><%= medication.english_name %></h2>
          <% medication.ingredients.each do |ingredient| %>
            <p>Active ingredient: <%= ingredient.name %></p>
          <% end %>
          <% end %>
          <div class="modal fade" id="medication_<%= medication.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="profile-banner d-flex align-items-center" id="user-profile">
                    <div class="container d-flex align-items-center">
                      <%= cl_image_tag(medication.photo, width: 250) %>
                      <div class="profile-content d-flex flex-column align-items-center">
                        <p>Name: <%= medication.local_name %></p>
                        <p>Category: <%= medication.local_category %></p>
                        <% medication.ingredients.each do |ingredient| %>
                          <p>Active ingredient: <%= ingredient.name %></p>
                        <% end %>
                        <p>Description: <%= medication.local_description %></p>

                        <%= link_to 'Yes, I am searching for an equivalent of this medicine', medication_comparisons_path(medication.id) %>

                        <div class="modal-footer">
                           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>

  <%= link_to "Back", search_medications_path, method: "post", class:"mf-button-secondary"%>

    </div>
  </div>
</div>



