<%  @home_country = session[:home_country]
    @destination = session[:destination]
    @query = session[:query]
    if session[:home_med]
      @home_med = Medication.find(session[:home_med])
    else
      @home_med = nil
    end
    if session[:destination_med]
      @destination_med = Medication.find(session[:destination_med])
    else
      @destination_med = nil
    end  %>


<div class="container progress-container">
  <div class="row prog-line">
    <div class="background-line"></div>
    <% progress = "25%" if @home_country && @destination %>
    <% progress = "55%" if @query %>
    <% progress = "110%" if @home_med %>
    <div class="progress-bar-width" data-progress="<%= progress %>"></div>

    <div class="progress-bar-filled"></div>

    <div class="col prog-column">
      <div class="row progress-step <%= @home_country && @destination ? "progress-active" : "" %>" >
        <%= link_to root_path do %>
          <div class="circle-fill">
          </div>
        <% end %>
        <% if @home_country %>
          <p><%= ISO3166::Country[@home_country].to_s.upcase %> <br> <%= ISO3166::Country[@destination].to_s.upcase %></p>
        <% else %>
          <p>COUNTRIES</p>
        <% end %>
      </div>
    </div>

    <div class="col prog-column">
      <div class="row progress-step <%= @query ? "progress-active" : "" %>">
        <%= link_to search_medications_path do %>
          <div class="circle-fill">
          </div>
        <% end %>
          <% if @query %>
            <div class="progress-bar-width" data-progress="50%"></div>
            <p><%= @query.upcase %></p>
        <% else %>
          <p>SEARCH</p>
        <% end %>
      </div>
    </div>

    <div class="col prog-column">
      <div class="row progress-step <%= @home_med ? "progress-active" : "" %>">
        <% if @home_med %>
          <%= link_to medication_comparisons_path(@home_med) do %>
            <div class="circle-fill" >
            </div>
          <% end %>
          <p><%= @home_med.local_name.upcase %></p>
        <% else %>
          <div class="circle-fill">
          </div>
          <p>SELECTED</p>
        <% end %>
      </div>
    </div>

<!--     <div class="col prog-column">
      <div class="row progress-step">
          <div class="circle-fill <%= @destination_med
          # ? "progress-active" : ""
          %>" id="last-circle">
          </div>
        <div id="destination-med">
          <p>Compare</p>
        </div>
      </div>
    </div> -->

  </div>
</div>

<%= javascript_pack_tag 'prog_bar_line' %>
