    <%  @home_country = session[:home_country]
        @query = session[:query]
        if session[:home_med]
          @home_med = Medication.find(session[:home_med])
        else
          @home_med = nil
        end
        @destination = session[:destination]
        if session[:destination_med]
          @destination_med = Medication.find(session[:destination_med])
        else
          @destination_med = nil
        end  %>


<div class="container progress-container">
  <div class="row prog-line">

    <div class="col prog-column">
      <div class="row progress-step">
          <div class="circle-fill <%= @home_country ? "active" : "" %>">
          </div>
        <% if @home_country %>
         <p><%= ISO3166::Country[@home_country.capitalize] %></p>
        <% else %>
          <p>Home country</p>
        <% end %>
      </div>
    </div>

    <div class="col prog-column">
      <div class="row progress-step">
          <div class="circle-fill  <%= @query ? "active" : "" %>">
          </div>
        <% if @query %>
          <p><%= @query.capitalize %></p>
        <% else %>
          <p>Search medication</p>
        <% end %>
      </div>
    </div>

    <div class="col prog-column">
      <div class="row progress-step">
          <div class="circle-fill <%= @home_med ? "active" : "" %>">
          </div>
        <% if @home_med %>
          <p><%= @home_med.local_name.capitalize %></p>
        <% else %>
          <p>Selected medication</p>
        <% end %>
      </div>
    </div>

    <div class="col prog-column">
      <div class="row progress-step">
          <div class="circle-fill <%= @destination ? "active" : "" %>">
          </div>
        <% if @destination %>
          <p><%= ISO3166::Country[@destination] %></p>
        <% else %>
          <p>Visiting country</p>
        <% end %>
      </div>
    </div>

    <div class="col prog-column">
      <div class="row progress-step">
          <div class="circle-fill <%= @destination_med ? "active" : "" %>" id="last-circle">
          </div>
        <div id="destination-med">
          <p>Destination medication</p>
        </div>
      </div>
    </div>

  </div>
</div>

