<%  @home_country = session[:home_country]
    @destination = session[:destination]
    @query = session[:query]
    if session[:home_med]
      @home_med = Medication.find(session[:home_med])
    else
      @home_med = nil
    end
    if session[:destination_med]
      @destination_med = Medication.find(session[:destination_med])
    else
      @destination_med = nil
    end  %>


<div class="container progress-container">
  <div class="row prog-line">

    <div class="col prog-column">
      <div class="row progress-step">
        <%= link_to root_path do %>
          <div class="circle-fill <%= @home_country && @destination ? "progress-active" : "" %>">
          </div>
        <% end %>
        <% if @home_country %>
          <p><%= ISO3166::Country[@home_country].to_s.upcase %> <br> <%= ISO3166::Country[@destination].to_s.upcase %></p>
        <% else %>
          <p>COUNTRIES</p>
        <% end %>
      </div>
    </div>

    <div class="col prog-column">
      <div class="row progress-step">
        <%= link_to search_medications_path do %>
          <div class="circle-fill  <%= @query ? "progress-active" : "" %>">
          </div>
        <% end %>
          <% if @query %>
          <p><%= @query.upcase %></p>
        <% else %>
          <p>SEARCH</p>
        <% end %>
      </div>
    </div>

    <div class="col prog-column">
      <div class="row progress-step">
        <% if @home_med %>
          <%= link_to medication_comparisons_path(@home_med) do %>
            <div class="circle-fill progress-active" >
            </div>
          <% end %>
          <p><%= @home_med.local_name.upcase %></p>
        <% else %>
          <div class="circle-fill">
          </div>
          <p>SELECTED</p>
        <% end %>
      </div>
    </div>

<!--     <div class="col prog-column">
      <div class="row progress-step">
          <div class="circle-fill <%= @destination_med
          # ? "progress-active" : ""
          %>" id="last-circle">
          </div>
        <div id="destination-med">
          <p>Compare</p>
        </div>
      </div>
    </div> -->

  </div>
</div>

