<div class="container fullheight container-dashboard">
  <h1 class="title-dashboard">Favorites medications</h1>

  <%  current_user.favorites.each do |favorite| %>

    <div class="carrousel-equivalent">
      <div class="mf-medium-card">
        <%= cl_image_tag(favorite.medication.photo) %>
        <div class="medium-card-description">
          <h6><%= favorite.medication.local_name %></h6>
          <p><%= favorite.medication.local_description %></p>
          <div class="text-right">
            <%= link_to medication_favorite_path(favorite.medication,favorite), class: "no-border-focus", method: :delete do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </div>
        </div>
      </div>

    <% unless favorite.home_medication_id.nil? %>
    <% home_med =  Medication.find(favorite.home_medication_id) %>

     <div class="mf-medium-card">
        <%= cl_image_tag(home_med.photo) %>
        <div class="medium-card-description">
          <h6><%= home_med.local_name %></h6>
          <p><%= home_med.local_description %></p>
          <div class="text-right">
            <%= link_to medication_favorite_path(home_med,favorite),method: :delete  do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>


  <% end %>

  <div id="btn-styles">
    <a href="<%= root_path %>" class="mf-button">add a new favorite</a>
  </div>
</div>


<script>

</script>

