<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%=  DEFAULT_META["meta_title"] %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="https://res.cloudinary.com/kristynadierstein/image/upload/v1559853467/TravelMedBanner_yfgj7i.png" />
    <meta property="og:description" content="<%= DEFAULT_META["meta_description"] %>" />
    <meta property="og:site_name" content="<%= DEFAULT_META["meta_title"] %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= DEFAULT_META["meta_title"] %>">
    <meta name="twitter:description" content="<%= DEFAULT_META["meta_description"] %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="https://res.cloudinary.com/kristynadierstein/image/upload/v1559853467/TravelMedBanner_yfgj7i.png">

    <%= favicon_link_tag 'favicon-32x32.png' %>

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <% stylesheet_pack_tag 'application', media: 'all' %>
    <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body style="max-width: 100vw !important; overflow-x: hidden;">
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>

  </body>
</html>
